## ignore the compiled document
doit
osp.pdf
version/*
## ignore latex trash
*.cb2
*.brf
*.cb
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
## ignore vim/emacs trash
*~
*.swp
[#]*[#]
.\#*
