% ===========  CVS info
% $Header: /group/halla/analysis/cvs/tex/osp/cvs.template,v 1.1 2003/06/05 17:28:27 gen Exp $
% $Id: cvs.template,v 1.1 2003/06/05 17:28:27 gen Exp $
% $Author: gen $
% $Date: 2003/06/05 17:28:27 $
% $Name:  $
% $Locker:  $
% $Log: cvs.template,v $
% Revision 1.1  2003/06/05 17:28:27  gen
% Initial revision
%
